*{
    padding:0;
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_box{
    background-image: url("photo.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.btn_one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 16px;
    transition: all 0.2s linear;
}

#check{
    display: none;
}

.sidebar_menu{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    left: -300px;
    transition: all 0.2s linear;
}

.btn_two i{
    color: white;
    opacity: 0.5;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    padding: 6px;
    font-size: 20px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.3);
}

.sidebar_menu .social_media{
    position: absolute;
    bottom: 30px;
    left: 25%;
}

.sidebar_menu .social_media i{
    font-size: 20px;
    padding: 0;
    color: white;
    opacity: 0.5;
}

.sidebar_menu .social_media i:hover{
    font-size: 25px;
    opacity: 1;
}

.btn_one i:hover{
    font-size: 35px;
}

.btn_two i:hover{
    font-size: 30px;
}

#check:checked ~ .sidebar_menu{
    left:0px;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}